.search {
    display: flex;
    align-items: center;
    padding: 5px 0 0 10px;
    border: 1px solid gray;
    background-color: #2f312f;
    opacity: .8;
    border-radius: 8px;
    width: 100%;

    height: 44px;
    margin-bottom: 75px;

}

.searchInput {
    width: 270px;
    height: 40px;
    border: 0;
    background: transparent;
    color: gray;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.searchIcon {
    text-decoration: none;
    cursor: pointer;

}